body{background:#f1f1f1;padding:0;margin:0;font-size:14px;min-width:960px;}
ul,li{padding:0;margin:0;list-style:none;}
h1, h2, h3, h4, h5{margin:0;padding:0;}
header{
	background:#ccc;
	background-image:-webkit-linear-gradient(#eee, #ccc);
}
#logo_area{height:60px;}
#logo{font-size:24px;font-weight:bold;line-height:60px;padding-left:1em;text-shadow:1px 1px 1px #fff;}
header nav{
	background:#4c5562;
	background-image:-webkit-linear-gradient(#5a6472, #4c5562);
}
header nav ul li{display:inline-block;list-style:none;}
header nav ul li a{color:#fff;font-size:14px;line-height:36px;display:block;padding:0 24px;}
header nav ul li a:hover{
	background:#1a659f;
	background-image:-webkit-linear-gradient(#2076b9, #1a659f);
}
a{color:#333;text-decoration:none;}
.clr{clear:both;}
.message, .warning, .success, .danger{
	border-radius:2px;
	line-height:24px;
	padding:4px;
	border-width:1px;
	border-style:solid;
	margin-bottom:10px;
}
.message{
	border-color:#ccc;
	background:#f1f1f1;
}
.warning{
	border-color:#ffc46f;
	background:#fffae7;
}
.success{
	border-color:#339900;
	background:#e9ffe2;
}
.danger{
	border-color:#900;
	background:#ffefef;
}

.cline{overflow:hidden;margin-bottom:10px;}

#main{margin:20px;border:1px solid #ccc;box-shadow:0 0 5px #ccc;border-radius:3px 3px 0 0;background:#fff;}

.box_header{height:36px;
	/*border-bottom:1px solid #5a6472;*/
	background:#f1f1f1;
	background-image:-webkit-linear-gradient(#fff, #eee);
	border-bottom:1px solid #ccc;
	border-radius:2px 2px 0 0;
	line-height:36px;
	color:#333;
	text-indent:1em;
	box-shadow:0 2px 2px #ccc;
	font-weight:bold;
}

#sub{
	width:220px;
	/*background:#f4f7fa;*/
	float:left;
	/*padding-top:10px;*/
	min-height:500px;
	border-right:1px solid #ccc;
	padding:4px;
}
#sub ul{
}
#sub ul.sub li a{text-indent:2em;}{
	
}
#sub ul li a{
	/*background:#4c5562;
	background-image:-webkit-linear-gradient(#5a6472, #4c5562);
	color:#fff;
	text-shadow:1px 1px 1px #000;*/
}
#sub ul li a{display:block;line-height:30px;text-indent:.5em;}
#sub ul a.select, #sub ul li a:hover{
	border-radius:3px;
	background:#1a659f;
	background-image:-webkit-linear-gradient(#2076b9, #1a659f);
	color:#fff;
}

#sub ul li a:hover{
	background:#549cd4;
	background-image:-webkit-linear-gradient(#5da6df, #549cd4);
	color:#fff;
}
#main_content{margin-left:230px;padding:10px;}
#main_content h1{font-size:20px;line-height:36px;border-bottom:1px solid #ccc;}
#main_content h2{font-size:16px;line-height:36px;border-bottom:1px solid #ccc;}
#main_content h3{font-size:14px;line-height:36px;border-bottom:1px solid #ccc;}
.form_box{
	
}

.fields_box{
	border:1px solid #ccc;
	background:#f1f1f1;
	padding:10px;
	margin-bottom:10px;
	border-radius:2px;
}
.form_box label{
	display:block;
	float:left;
	line-height:30px;
	width:50px;
}
.form_box input{height:24px;line-height:24px;font-size:14px;border-radius:2px;border:1px solid #aaa;}
button.btn, button.btn_gray{
	border:none;
	color:#fff;
	line-height:30px;
	padding:0 16px;
	border-radius:2px;
	font-size:14px;
	cursor:pointer;
}
button.btn{
	background:#1a659f;
	background-image:-webkit-linear-gradient(#2076b9, #1a659f);
}

button.btn_gray{
	background:#4c5562;
	background-image:-webkit-linear-gradient(#5a6472, #4c5562);
}
table.common{
	width:100%;
	table-layout:fixed;
	border-spacing:0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
table.common tr{}
table.common tr th, table.common tr td{line-height:24px;border-bottom:1px solid #ccc;border-left:none;border-right:none;}
table.common tr th{background:#f1f1f1;}
table.common tr td{}
#demos{padding:10px;}
#demos article h2{font-size:14px;}

footer{text-align:center;color:#666;text-shadow:1px 1px 0 #fff;}